1.京东评论种子
{
    "countColumn": "goodCount",
    "isShadowSku": "0",
    "md5": "",
    "pName": "Apple MacBook Pro 13.3英寸笔记本电脑",
    "page": 1,
    "pageSize": 10,
    "pageUrl": "https://item.jd.com/2342593.html",
    "productId": "2342593",
    "score": "5",
    "sortType": "6"
}


2.天猫评论种子
{
    "all": true,
    "append": "0",
    "content": "1",
    "currentPage": 1,
    "inner": true,
    "itemId": "540405579912",
    "md5": "",
    "order": "1",
    "pName": "国行ThinkPad e470 20H1001TCD",
    "sellerId": "2955374408",
    "spuId": "706494777",
    "t": 0,
    "tags": [
        ""
    ],
    "tbpm": "3",
    "type": "COMMENT_CIYUN",
    "url": "https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.1.ntbqTb&id=540405579912&skuId=3204410650332&standard=1&user_id=2955374408&cat_id=2&is_b=1&rn=51f4addd93c810a987bd561046dcf60d"
}

{
    "all": true,
    "append": "0",
    "content": "1",
    "currentPage": 1,
    "inner": true,
    "itemId": "538123891227",
    "md5": "",
    "order": "1",
    "pName": "Apple/苹果 iPhone 7 Plus",
    "sellerId": "1917047079",
    "spuId": "706494777",
    "t": 0,
    "tags": [
        ""
    ],
    "tbpm": "3",
    "type": "COMMENT_CIYUN",
    "url": "https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.8.qtPGBa&id=538123891227&standard=1&user_id=1917047079&cat_id=50024400&is_b=1&rn=844f8fa58ec89d4b1a67598130089407&sku_properties=10004:709990523"
}